.box
{
background: rgba(28, 28, 33, 0.333);
padding:5px;
width: 1750px;
margin-left: 10px;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 16px;
}
.dim
{background: rgba(28, 28, 33, 0.333);
width: 1750px;
margin-left: 0px;}
.diml
{padding:5px;
width: 100px;
float: left}
.dimc
{padding:5px;
width: 100px;
float: center}
.dimr
{padding:5px;
width: 100px;
float: right}
