.box
{
background: rgb(242, 238, 238);
border: 0px solid red;
padding:5px;
width: 1200px;
float: center;
margin-left: 250px;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 16px;
}

.img
{
margin-left: 100px;
text-align: center;
width: 100%;
}

